/* calibre */
@font-face {
   font-family: "Calibre";
   src: url("../fonts/CalibreWeb-Light.woff") format("woff");
   font-style: normal;
   font-weight: 300;
 }
 
 @font-face {
   font-family: "Calibre";
   src: url("../fonts/CalibreWeb-LightItalic.woff") format("woff");
   font-style: italic;
   font-weight: 300;
 }
 
 @font-face {
   font-family: "Calibre";
   src: url("../fonts/CalibreWeb-Regular.woff") format("woff");
   font-style: normal;
   font-weight: 400;
 }
 
 @font-face {
   font-family: "Calibre";
   src: url("../fonts/CalibreWeb-RegularItalic.woff") format("woff");
   font-style: italic;
   font-weight: 400;
 }
 
 
 @font-face {
   font-family: "Calibre";
   src: url("../fonts/CalibreWeb-Medium.woff") format("woff");
   font-style: normal;
   font-weight: 500;
 }
 
 @font-face {
   font-family: "Calibre";
   src: url("../fonts/CalibreWeb-MediumItalic.woff") format("woff");
   font-style: italic;
   font-weight: 500;
 }
 
 /* Tiempos */
 @font-face {
    font-family: 'TiemposHeadline';
    src: url('../fonts/Tiempos_Headline_Regular.woff') format('woff');
 }
 
 @font-face {
    font-family: 'TiemposHeadline';
   font-weight: 600;
    src: url('../fonts/Tiempos_Headline_Medium.woff') format('woff');
 }
 
 @font-face {
    font-family: 'TiemposHeadline';
   font-weight: 700;
    src: url('../fonts/Tiempos_Headline_Semibold.woff') format('woff');
 }
 
 @font-face {
    font-family: "Tiempos";
    src: url('../fonts/Tiempos_Text_Regular.woff') format('woff');
 }
 
 @font-face {
    font-family: "Tiempos";
   font-weight: 600;
    src: url('../fonts/Tiempos_Text_Medium.woff') format('woff');
 }
 
 /* pt-mono */
 @font-face {
   font-family: 'PT Mono';
   font-style: normal;
   font-weight: 400;
   src: local('PT Mono'), local('PTMono-Regular'), url('../fonts/pt-mono-v4-latin-regular.woff') format('woff');
 }
 
 :root {
   --sans: "Calibre", -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
   --serif: "Tiempos", georgia, times, serif;
   --mono: "PT Mono", Consolas, monaco, monospace;
   --headline: "Tiemposheadline", "Tiempos", georgia, times, serif;
 }
 
 .x-sans {
   font-family: var(--sans);
 }
 
 .x-serif {
   font-family: var(--serif);
 }
 
 .x-headline {
   font-family: var(--headline);
 }
 
 .x-mono {
   font-family: var(--mono);
 }
 