body {
  margin: 60px auto;
  font-family: "Open Sans", sans-serif;
  color: #484848;
  width: 600px;
  font-size: 18px;
  line-height: 26px;
}

h1 {
  font-size: 38px;
  line-height: 42px;
  font-weight: normal;
  margin-bottom: 20px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: normal;
}

h3 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

a {
  color: #313131;
  text-decoration: none;
  border-bottom: 1px dotted #999892;
  &:hover {
    border-bottom: 1px solid #999892;
  }
}

p {
  margin: 0 0 2ex 0;
}

ul {
  margin: 2ex 0 2ex 0;
  padding: 0;
}

ol {
  padding: 0;
}

li {
  margin: 0 0 0 20px;
  padding: 0;
}

img.avatar {
  background-size: 100%;
  display: block;
  height: 80px;
  overflow: hidden;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  width: 80px;
  margin-right: 15px;
}

header {
  margin-top: 30px;
  margin-bottom: 20px;
  a {
    color: #484848;
    text-decoration: none;
    border-bottom: 1px dotted #999892;
    &:hover {
      border-bottom: 1px solid #999892;
    }
  }
}

.post {
  .entry-title {
    margin-bottom: 30px;
  }

  h1.post-title {
    margin: 0px;
  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  blockquote {
    margin: 20px 0;
    border-left: 5px solid #eee;
    line-height: 1.8;
    padding: 60px 30px 0 30px;
    color: #555;
    position: relative;
    &:before {
      content: "“";
      display: block;
      font-size: 142px;
      position: absolute;
      top: -65px;
      left: 20px;
      color: #ddd;
    }

    p {
      color: #555;
    }
  }

  ins {
    background-color: #fff9c0;
    text-decoration: none;
  }
}

footer {
  border-top: 1px solid rgb(206, 206, 206);
  margin-top: 48px;
  padding-top: 24px;
  font-size: 14px;
  a {
    border-bottom: none;
  }
}

@media screen and (max-width: 580px) {
  body {
    margin: 20px auto;
    padding: 0 20px 0 20px;
    width: auto;
    word-wrap: break-word;
  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  img.avatar {
    height: 110px;
    width: 110px;
  }
}
