$color_1: #484848;
$color_2: #c30c0c;
$color_3: gray;
$font_family_1: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman",
  serif;
$background_color_1: #f6f5ed;

body {
  margin: 60px auto;
  font-family: $font_family_1;
  background-color: $background_color_1;
  color: $color_1;
  width: 580px;
  font-size: 18px;
  line-height: 26px;
}

h1 {
  font-size: 38px;
  line-height: 42px;
  font-weight: normal;
  margin-bottom: 20px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: normal;
}

h3 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

a {
  color: $color_2;
  &:visited {
    color: $color_3;
  }
}

p {
  margin: 0 0 2ex 0;
}

ul {
  margin: 2ex 0 2ex 0;
  padding: 0;
}

ol {
  padding: 0;
}

li {
  margin: 0 0 0 20px;
  padding: 0;
}

img.avatar {
  background-size: 100%;
  display: block;
  height: 80px;
  overflow: hidden;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  width: 80px;
  margin-right: 15px;
}

header {
  margin-top: 30px;
  margin-bottom: 20px;
  a {
    color: $color_1;
    text-decoration: none;
    border-bottom: 1px dotted #999892;
    &:visited {
      color: $color_1;
    }
    &:hover {
      border-bottom: 1px solid #999892;
    }
  }
}

.post {
  .entry-title {
    margin-bottom: 30px;
  }
  h1.post-title {
    margin: 0px;
  }
}

footer {
  border-top: 1px solid rgb(206, 206, 206);
  margin-top: 48px;
  padding-top: 24px;
  font-size: 14px;
}

@media screen and (max-width: 580px) {
  body {
    margin: 10px auto;
    padding: 0 20px 0 20px;
    width: auto;
    word-wrap: break-word;
  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  img.avatar {
    height: 110px;
    width: 110px;
  }
}
