body {
  margin: 5% auto;
  width: 60%;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: "Oxygen", sans-serif;
  color: rgb(87, 87, 87);
}

a {
  color: rgb(87, 87, 87);
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  font-size: 20px;
  .right {
    float: right;
  }
  .menu-link {
    &:first-child {
      margin-right: 20px;
    }
  }
}

.landing {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.links p {
  margin-top: 0px;
}

h3 {
  margin-bottom: 5px;
}

.columns {
  display: flex;
  span {
    color: grey;
  }
}

.thumbnail {
  margin-bottom: 50px;
}

blockquote {
  margin: 20px 0;
  border-left: 5px solid #eee;
  line-height: 1.8;
  padding: 60px 30px 0 30px;
  color: #555;
  position: relative;
  &:before {
    content: "“";
    display: block;
    font-size: 142px;
    position: absolute;
    top: -65px;
    left: 20px;
    color: #ddd;
  }
  p {
    color: #555;
  }
}
strong {
  font-weight: 500;
}
em {
  font-style: italic;
}
img {
  margin: 20px auto;
  display: block;
  max-width: 100%;
}
video {
  margin: 20px auto;
  display: block;
  max-width: 100%;
}
iframe {
  display: block;
  margin: 50px auto;
  max-width: 100%;
}

@media only screen and (max-width: 760px) {
  body {
    width: 90%;
  }
  .landing {
    display: block;
    font-size: 0.9rem;
  }
  .columns {
    display: block;
  }
}
